

p-calendar{
    span{

        .ng-trigger.ng-trigger-overlayAnimation.ng-tns-c51-0.p-datepicker.p-component.ng-star-inserted
        {
            background-color: aquamarine;       
        }
    }
}

.container{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}